.blur {
  position: fixed;
  background: #ffffffa6;
  backdrop-filter: blur(1px);
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  border-radius: 14px;
  padding: 16px;
  position: relative;
}

.closeImg {
  cursor: pointer;
  position: absolute;
  right: 15px;
}

@media screen and (max-width: 420px) {
  .popup {
    width: 100%
  }
}
