@import "./fonts/fonts";

$font-stack: HelveticaNeueCyr, sans-serif;
$main-color: #03add2;

:root {
  --font-stack: HelveticaNeueCyr, sans-serif;
  --main-color: #03add2;
}

* {
  margin: 0;
  padding: 0;
}

button,
a {
  font-size: 14px;
}

.hidden {
  display: none;
}

.MuiPaper-root {
  padding: 0 20px !important;
}

.header {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  img {
    width: 28px;
  }
  .logo {
    font-family: $font-stack;
    font-weight: 900;
    font-size: 14px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn_auth {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background: $main-color;
  border: none;
  padding: 10px 40px;
  border-radius: 20px;
}

.btn_auth:disabled {
  background: rgb(102, 102, 102);
}

.btn_category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 6px 8px 16px;
  border-radius: 25px;
  margin: 10px 5px 5px 5px;
  width: 70px;
}

.btn_tutorial {
  text-align: center;
  margin: 0 10px;
  margin-top: 20px;
  padding: 10px 30px;
}

.btn_primary {
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  background: $main-color;
  font-family: $font-stack;
  border: none;
}

.ml-10 {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: #242424;
}

#tabs {
  display: flex;
  align-items: center;
}

.header__admin {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  padding: 20px 0;
  font-family: HelveticaNeueCyr, sans-serif;
  font-weight: 900;
  font-size: 14px;
  a {
    margin-right: 10px;
  }
}

.fixed {
  top: 0 !important;
  position: fixed;
  margin: 0px !important;
  padding: 20px 0px;
}

.filter {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}


@media screen and (max-width: 420px) {
  .App {
    padding: 0 10px;
  }
  .header {
    width: 100%;
  }
}
