node_modules
.env
!app/.env
dist
yarn-error.log
cloud/category/*
cloud/event/*
cloud/unknown/*
!cloud/category/.gitkeep
!cloud/event/.gitkeep
!cloud/unknown/.gitkeep
rest/sandbox.ts
docker/mysql/data
data
.env.prod