@import '../../../fonts.scss';

$font-stack: HelveticaNeueCyr, sans-serif;
$main-color: #03ADD2;

.signup {
    text-align: center;
    font-family: $font-stack;
    position: absolute;
    align-items: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    top: 0;
    left: 0;
    justify-content: center;
    .signup__container {
        position: relative;
    }
    input {
        font-family: $font-stack;
        font-weight: 300;
        font-size: 16px;
    }
    h1 {
        font-weight: 700;
        font-size: 30px;
    }
    .img1 {
        top: 13%;
        position: absolute;
        left: -50%;
    }
    .img2 {
        position: absolute;
        top: calc(50% - 30px);
        left: 80%;
    }
    .form {
        max-width: 350px;
        padding: 40px;
        background: rgba(252, 252, 252, 0.77);
        backdrop-filter: blur(6px);
        border-radius: 39px;
        width: 100%;
        .form__desc {
            margin: 10px 0;
            span {
                font-weight: 300;
                font-size: 18px;
            }
        }
        .form__input {
            margin: 30px 0;
            position: relative;
            width: 100%;
            .active {
                border-bottom: 1px solid #03ADD2;;
            }
            svg {
                position: absolute;
                left: 10px;
                top: 5px;
                width: 20px;
            }
            input {
                background: transparent;
                width: calc(100% - 50px);
                border: none;
                border-bottom: 1px solid #DADADA;
                padding: 12px 10px 12px 40px;
                &:focus {
                    outline: none;
                    border-bottom: 1px solid #03ADD2;
                }
                &:focus + svg path {
                    fill: #03ADD2;
                }
            }
        }
        .terms {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin: 40px 0;
            .terms__desc {
                font-weight: 300;
                font-size: 16px;
                text-align: left;
                .link {
                    font-size: 16px;
                }
            }
            input {
                position: absolute;
                z-index: -1;
                opacity: 0;
            }
            input+label {
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                user-select: none;
            }
            input+label::before {
                cursor: pointer;
                content: '';
                display: inline-block;
                width: 1em;
                height: 1em;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid #03ADD2;
                border-radius: 0.25em;
                margin-right: 0.5em;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
            }
            input:checked+label::before {
                background: #03ADD2;
                background-size: 75%;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.64009 13.1543C4.28854 13.1496 3.94267 13.065 3.62857 12.9071C3.31447 12.7491 3.04036 12.5219 2.82693 12.2425L0.266563 9.33186C0.0778566 9.09757 -0.0131307 8.79948 0.0125727 8.49975C0.0382762 8.20002 0.178686 7.92177 0.404527 7.72303C0.630368 7.52429 0.924207 7.4204 1.22478 7.43301C1.52535 7.44562 1.80945 7.57377 2.01784 7.79074L4.4171 10.5216C4.44378 10.5519 4.47647 10.5763 4.5131 10.5934C4.54972 10.6104 4.58948 10.6197 4.62987 10.6205C4.67025 10.6214 4.71038 10.6139 4.74771 10.5985C4.78504 10.5831 4.81877 10.56 4.84674 10.5309L14.3037 0.674702C14.4093 0.563544 14.5358 0.474282 14.6759 0.412012C14.8161 0.349741 14.9671 0.315683 15.1204 0.31178C15.2737 0.307877 15.4262 0.334206 15.5694 0.389265C15.7125 0.444324 15.8434 0.527033 15.9545 0.632671C16.0657 0.738309 16.1549 0.864807 16.2172 1.00494C16.2795 1.14508 16.3135 1.29611 16.3174 1.4494C16.3214 1.6027 16.295 1.75527 16.24 1.89839C16.1849 2.04151 16.1022 2.17239 15.9966 2.28354L6.42056 12.3627C6.20134 12.6188 5.92776 12.8227 5.61975 12.9597C5.31174 13.0966 4.97706 13.1631 4.64009 13.1543Z' fill='white'/%3e%3c/svg%3e ");
            }
        }
        .link {
            font-size: 18px;
            font-weight: 500;
            text-decoration: none;
            color: #03ADD2;
        }
    }
}

@media screen and (max-width: 768px) {
    .signup {
        display: flex;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%,-50%);
        .form {
            max-width: calc(350px - 80px);
        }
    }
}

@media screen and (max-width: 420px) {
    .signup {
        box-shadow: 0px 1px 22px 3px, #6d6d6d47;
        display: block;
        height: auto;
        top: auto;
        bottom: 0;
        left: 0;
        transform: translate(0,0);
        .signup__container {
            height: 100vh;
        }
        .img1 {
            position: absolute;
            width: 100%;
            left: 0;
            top: auto;
            bottom: 35%;
        
        }
        .img2 {
            position: absolute;
            transform: rotate(14deg);
            left: auto;
            top: auto;
            right: -60px;
            bottom: 30%;
        }
        .form {
            background: #fff;
            max-width: calc(100% - 80px);
            border-radius: 0;
            border-top-left-radius: 39px;
            bottom: 0;
            border-top-right-radius: 39px;
            position: absolute;
        }
    }
    
}