$font-stack: HelveticaNeueCyr, sans-serif;
$main-color: #03ADD2;

div:focus {
    outline: none;
}
.events{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow-x: hidden;
}
.tab {
    z-index: 9;
    background: #fff;
    padding-bottom: 10px;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 100%;
    .active {
        position: relative;
        &::after {
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            width: 7px;
            height: 7px;
            background: #FFBD13;
            border-radius: 50%;
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
    overflow-x: scroll;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    .tab__item {
        cursor: pointer;
        margin-bottom: 10px;
        padding: 12px 24px 12px 12px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        margin-right: 15px;
        font-family: $font-stack;
        color: #4E4E4E;
        font-weight: 500;
    }
    .tab__itemImg {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}
.events__content {
    .masonry__grid {
        display: flex;
        flex-wrap: wrap;
        margin-right: -10px;
    }
    .contentImg {
        border-radius: 15px;
        width: 100%;
    }
    .event__card {
        position: relative;
        cursor: pointer;
        width: calc(100% - 10px);
        margin-bottom: 15px;
        .bookmark {
            position: absolute;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 8px;
            right: 8px;
            width: 30px;
            height: 30px;
            border-radius: 30px;
        }
    }
}
.event__cardHedaer {
    font-family: $font-stack;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 5px;
    .cardHeader__title {
        font-weight: 700;
        font-size: 14px;
    }
}
.actions {
    display: flex;
    justify-content: center;
    .actions__icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background: #FFFFFF;
        box-shadow: 0px 0px 7.26457px rgba(0, 0, 0, 0.1);
        img {
            width: 25px;
            height: 25px;
        }
    }
}
.eventCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 70%;
    max-width: 850px;
    margin: 0 auto;
    background: #FBFBFB;
    border-radius: 19px;
    .card__content {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        justify-content: space-between;
        padding: 20px 14px;
        width: 50%;
        font-family: $font-stack;
        &::-webkit-scrollbar {
            width: 0;
        }
        .tab {
            background: transparent;
        }
        .card__head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .card__header {
                .card__title {
                    font-size: 18px;
                    font-weight: 700;
                }
                .card__location {
                    display: flex;
                    font-size: 16px;
                    margin-top: 5px;
                    font-weight: 300;
                    margin: 10px 0;
                    img {
                        margin-right: 5px;
                    }
                }
            }
        }
        .card__desc {
            font-size: 15px;
            line-height: 20px;
            font-weight: 400;
            color: #4E4E4E;
        }
    }
    .tab {
        .tab__item {
            background: #EBFFF5;
        }
    }
    .card__img {
        width: 50%;
        .imgPreview {
            border-radius: 19px 0px 0px 19px;
            width: 100%;
            height: calc(100vh - 130px);
            max-height: 500px;
            object-fit: cover;
            label {
                cursor: pointer;
                font-weight: 700;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                flex-direction: column;
                img {
                    margin-top: 30px;
                    border-radius: 0;
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                }
            }
        }
        img {
            border-radius: 19px 0px 0px 19px;
            width: 100%;
            height: calc(100vh - 130px);
            max-height: 500px;
            object-fit: cover;
        }
    }
    .card__save {
        button {
            cursor: pointer;
            display: flex;
            align-items: center;
            border: none;
            background: #03ADD2;
            border-radius: 42.3428px;
            padding: 8px 16px;
            color: #fff;
            img {
                margin-right: 5px;
                width: 11px;
                height: 11px;
            }
            span {
                font-family: $font-stack;
                font-weight: 700;
                font-size: 13px;
                display: inline-block;
                padding-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .cardBg {
        position: relative;
    }
    .eventCard {
        position: relative;
        top: auto;
        left: auto;
        transform: translate(0,0);
        display: block;
        .card__img {
            width: auto;
            img {
                border-radius: 19px;
            }
        }
        .card__content {
            width: auto;
        }
    }
}

@media screen and (max-width: 490px) {
    .events {
        width: 100%;
    }
    .tab {
        .tab__item {
            padding: 12px;
            margin-right: 10px;
            flex-direction: column;
            justify-content: center;
        }
        .tab__itemImg {
            margin-right: 0;
            margin-bottom: 5px;
        }
    }
    .cardBg {
        overflow: hidden;
        position: relative;
    }
    .eventCard {
        background: #fff;
        position: relative;
        transform: none;
        left: 0;
        top: 0;
        width: calc(100% - 40px);
        margin: 0 auto;
        display: block;
        .actions {
            margin-top: 20px;
            .actions__icon {
                width: 50px;
                height: 50px;
            }
            img {
                width: 20px;
                height: 20px;
            }
        }
        .card__content {
            width: calc(100% - 20px);
            .card__desc {
                padding: 10px 8px 20px 8px;
                border-radius: 11px;
                background: #FBFBFB;
            }
        }
        .card__img {
            width: 100%;
            img {
                border-radius: 19px;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .eventCard {
        width: 100%;
    }
}